<div class="m-3">
  <mat-card class="shadow p-0" >
    <div [formGroup]="form" *ngIf="form">
      <mat-form-field class="full-width p-0" appearance="outline"  >

        <div class="d-flex"> 
          <input 
          placeholder="Ex. Tel Aviv"
            type="text"
            matInput
            formControlName="cityPicker"
            [matAutocomplete]="auto"
  
          />
          <mat-icon class="mr-1" >search</mat-icon>
  
        </div>
     
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="citySelected($event)"
        >
          <mat-option
            *ngFor="let option of options | async"
            [value]="{ key: option.Key, name: option.LocalizedName }"
          >
            {{ option.LocalizedName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-card>

  <div  class="min-size font-error"  >
    <p  class="ml-2" *ngIf="this.form.controls['cityPicker'].invalid && this.form.controls['cityPicker'].touched" >  English letters only   </p>
  </div>


</div>






