
<div class="d-flex justify-content-between header-container" *ngIf="viewState">
  <div class="ml-10 pull-left d-flex align-items-center">
    <span class="material-icons mr-2" routerLink="/home"> home </span>
    <span class="material-icons" routerLink="/favorites"> favorite </span>
  </div>


  <div *ngIf="!display" >
    <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleDegreeType()" >
        <span>{{isCelsiusActive ?  '℉' :'℃'}}</span>
      </button>
  
      <button mat-menu-item (click)="toggleTheme()" >
        <span>{{isLightThemeActive ?  'Dark' :'Light'}}</span>
      </button> 

    </mat-menu>
  </div>

  <div *ngIf="display" class="mr-10 pull-right d-flex align-items-center">
      <div class="  mr-2">
        <button (click)="toggleDegreeType()" mat-stroked-button class=" btn  theme-btn"  [class.active]="!isCelsiusActive">
          ℉
        </button>
        <button (click)="toggleDegreeType()" mat-stroked-button class="btn  theme-btn" [class.active]="isCelsiusActive">
          ℃
        </button>
      </div>
      <div>
        <button (click)="toggleTheme()" mat-stroked-button class="btn  theme-btn" [class.active]="!isLightThemeActive">
          Dark
        </button>
        <button (click)="toggleTheme()" mat-stroked-button class="btn  theme-btn" [class.active]="isLightThemeActive">
          Light
        </button>
      </div>
  </div>

</div>