

$siteBackgroundColor:#dfe3ee;
$primary:#1877f2;
$headerColor:#3b5998;
$fontColor : #dfe3ee;
$favoriteFont: #3b5998;
$primaryMat : #3f51b5 ;
$redMat : #f44336;


:root {
    --siteBackgroundColor:#dfe3ee;
    --headerColor : #3b5998;
    --favoriteColor : #dfe3ee;
    --fontErrorColor : #f50827;
    --favoriteFont: #3b5998;

    // --primary:#1877f2;
    // --headerColor:#3b5998;
  }